<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ajouter un étudiant</title>
</head>
<body>
<h1>Ajouter un étudiant</h1>
<form th:action="@{/students/add}" th:object="${student}" method="post">
    <input type="text" th:field="*{nom}" placeholder="Nom" required/>
    <input type="text" th:field="*{prenom}" placeholder="Prénom" required/>
    <input type="text" th:field="*{matricule}" placeholder="Matricule" required/>
    <input type="email" th:field="*{email}" placeholder="Email" required/>
    <button type="submit">Ajouter</button>
</form>
<a href="/students">Retour à la liste</a>
</body>
</html>
